* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #192666;
    box-sizing: border-box;
    list-style: none;
}
:root {
    background-color: #9CB6F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 20px;
    min-height: 100vh;
}

header {
    background-image: url('banner.jpg');
    background-size: contain;
    background-repeat: round;
    width: 770px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}

#titulo {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: underline;
    position: relative;
    left: 30px;
}

#formulario {
    position: relative;
    right: 30px;
}

.menu {
    width: 770px;
    height: 34px;
    list-style: none;
    background-color: #182463;
    padding-top: 10px;
}


.lista {
    float: left;
    margin-right: 5px;
    color: #B5C4E3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    background-color: #203375;
    padding: 5px 20px 5px 20px;
    font-size: 12px;
    position: relative;
    left: 15px;
    bottom: 0px;
}

#conteiner {
    width: 770px;
    height: 300px;
    background-color: #F7FBFF;
}

.columna_principal {
    width: 530px;
    height: 100%;
    float: left;
    background-color: #EFF3FF;
    margin-top: 5px;
    margin-left: 20px;
    border: 5px solid #DEE7FF;
    border-radius: 15px 0px 0px 0px;
}

#columna_secundaria {
    width: 200px;
    background-color: #CEDBFF;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    border-radius: 0px 15px 0px 0px;
}
.lista:hover {
    background-color: white;
    color: #FF9000;
}

#lateral {
    height: 50%;
}

#imgCuadro {
    float: left;
    position: relative;
    top: 30px;
    width: 70px;
    height: 60px;
}

#lateral li {
    font-size: 12px;
    position: relative;
    top: 30px;
    line-height: 20px;
}

#nombre {
    font-weight: bold;
}

#perfil {
    text-decoration: underline;
}

h2 {
    background-color: #DEE7FF;
    position: relative;
    top: 15px;
    padding: 5px;
    text-decoration: underline;
    clear: both;
}

h3 {
    background-color: #A5BAF7;
    position: relative;
    top: 19px;
    padding: 8px;
    text-decoration: underline;
    clear: both;
}

.texto {
    font-size: 12px;
    position: relative;
    top: 25px;
}

#enlace1 {
    position: relative;
    top: 30px;
    float: left;
    margin-bottom: 20px;
    font-size: 12px;
}

.template {
    background-color: white;
    display: inline-block;
    position: relative;
    top: 15px;
    margin: 0px;
}

.template p {
    font-size: 12px;
    display: inline-block;
    padding: 10px;
}

.categoria {
    height: 170px;
    overflow: scroll;
}

.categoria li{
    list-style-image: url('lista1.JPG');
    position: relative;
    top: 15px;
    left: 35px;
    font-size: 12px;
    position: relative;
}

.categoria li:hover {
    background-color: #DEE7FF;
    list-style-image: url('lista2.JPG');
    font-weight: bold;
    font-size: 14px;
}

.categoria {
    margin-top: 20px;
    overflow: hidden;
    clear: both;
}

.clear {
    clear: both;
}