* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    background-color: #FFFFFF;
}

.contenido {
    background-color: #00171F;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
}

img {
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 5px;
}

@media screen () {
    
}